<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supervision</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ app.request.baseUrl }}/favicon.ico">

    <link href="{{ app.request.baseUrl }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.baseUrl }}/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ app.request.baseUrl }}/css/style.css" rel="stylesheet">
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="">My C-Tool - Supervision</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="http://mail.google.com/a/myc-sense.com">Courriels</a></li>
                        <li><a href="http://docs.google.com/a/myc-sense.com">Documents</a></li>
                        <li><a href="http://supervision.myc-sense.com:3000">Redmine</a></li>
                        <li><a href="http://supervision.myc-sense.com:8080/cruisecontrol">Jenkins</a></li>
                        <li><a href="http://supervision.myc-sense.com/wiki/">Wiki</a></li>
                        <li><a href="http://supervision.myc-sense.com/munin/">Munin</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Applications archivées
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://supervision.myc-sense.com/basecarbone2/">Base Carbone version 0.2</a></li>
                                <li><a href="http://supervision.myc-sense.com/basecarbone/">Base Carbone version 0.3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <h3>
            Outils
        </h3>

        <div class="row-fluid start">

            <a href="http://mail.google.com/a/myc-sense.com" class="span2 btn btn-large">
                <i class="icon-envelope-alt icon-large"></i>
                E-Mail
            </a>

            <a href="http://docs.google.com/a/myc-sense.com" class="span2 btn btn-large">
                <i class="icon-file-alt icon-large"></i>
                Google Docs
            </a>

            <a href="http://supervision.myc-sense.com:3000/projects" class="span2 btn btn-large">
                <i class="icon-comments-alt icon-large"></i>
                Redmine
            </a>

            <a href="https://github.com/myclabs" class="span2 btn btn-large">
                <i class="icon-github icon-large"></i>
                GitHub
            </a>

            <a href="http://dev.myc-sense.com:8081/" class="span2 btn btn-large">
                <i class="icon-spinner icon-large"></i>
                Jenkins
            </a>

        </div>

        <h3>
            Applications
        </h3>

        <div class="row-fluid start">

            <a href="http://dev.myc-sense.com/inventory1/" class="span2 btn btn-large">
                Inventory 1
            </a>

            <a href="http://dev.myc-sense.com/inventory2/" class="span2 btn btn-large">
                Inventory 2
            </a>

            <a href="http://dev.myc-sense.com/inventory3/" class="span2 btn btn-large">
                Inventory 3
            </a>

            <a href="http://dev.myc-sense.com/inventory4/" class="span2 btn btn-large">
                Inventory 4
            </a>

            <a href="http://dev.myc-sense.com:15672/" class="span2 btn btn-large">
                RabbitMQ
            </a>

        </div>


        <h3>
            Déploiements
        </h3>

        <h4>Dev</h4>

        <ul>
            <li>
                <a href="http://dev.myc-sense.com/inventory1/">Inventory 1</a> : {{ versions['dev']['inventory1'] }}
            </li>
            <li>
                <a href="http://dev.myc-sense.com/inventory2/">Inventory 2</a> : {{ versions['dev']['inventory2'] }}
            </li>
            <li>
                <a href="http://dev.myc-sense.com/inventory3/">Inventory 3</a> : {{ versions['dev']['inventory3'] }}
            </li>
            <li>
                <a href="http://dev.myc-sense.com/inventory4/">Inventory 4</a> : {{ versions['dev']['inventory4'] }}
            </li>
        </ul>

        <h4>Test</h4>

        <ul>
            <li>
                <a href="http://test.myc-sense.com/inventory1/">Inventory 1</a> : {{ versions['test']['inventory1'] }}
            </li>
            <li>
                <a href="http://test.myc-sense.com/inventory2/">Inventory 2</a> : {{ versions['test']['inventory2'] }}
            </li>
            <li>
                <a href="http://test.myc-sense.com/inventory3/">Inventory 3</a> : {{ versions['test']['inventory3'] }}
            </li>
        </ul>

        <h4>Prod</h4>

        <ul>
            <li>
                <a href="http://prod.myc-sense.com/afd/">AFD</a> : {{ versions['prod']['afd'] }}
            </li>
            <li>
                <a href="http://prod.myc-sense.com/art225/">Article 225</a> : {{ versions['prod']['art225'] }}
            </li>
            <li>
                <a href="http://prod.myc-sense.com/art255/">Article 255</a> : {{ versions['prod']['art255'] }}
            </li>
            <li>
                <a href="http://prod.myc-sense.com/campus/">Campus</a> : {{ versions['prod']['campus'] }}
            </li>
            <li>
                <a href="http://prod.myc-sense.com/bollore/">Bolloré</a> : {{ versions['prod']['bollore'] }}
            </li>
            <li>
                <a href="http://prod.myc-sense.com/societe/">Société</a> : {{ versions['prod']['societe'] }}
            </li>
            <li>
                <a href="http://prod.myc-sense.com/demo/1/">Démo 1</a> : {{ versions['prod']['demo/1'] }}
            </li>
            <li>
                <a href="http://prod.myc-sense.com/demo/2/">Démo 2</a> : {{ versions['prod']['demo/2'] }}
            </li>
            <li>
                <a href="http://prod.myc-sense.com/demo/3/">Démo 3</a> : {{ versions['prod']['demo/3'] }}
            </li>
            <li>
                <a href="http://prod.myc-sense.com/demo/4/">Démo 4</a> : {{ versions['prod']['demo/4'] }}
            </li>
            <li>
                <a href="http://prod.myc-sense.com/demo/5/">Démo 5</a> : {{ versions['prod']['demo/5'] }}
            </li>
            <li>
                <a href="http://prod.myc-sense.com/demo/6/">Démo 6</a> : {{ versions['prod']['demo/6'] }}
            </li>
            <li>
                <a href="http://prod.myc-sense.com/demo/7/">Démo 7</a> : {{ versions['prod']['demo/7'] }}
            </li>
            <li>
                <a href="http://prod.myc-sense.com/demo/8/">Démo 8</a> : {{ versions['prod']['demo/8'] }}
            </li>
            <li>
                <a href="http://prod.myc-sense.com/demo/9/">Démo 9</a> : {{ versions['prod']['demo/9'] }}
            </li>
            <li>
                <a href="http://prod.myc-sense.com/demo/10/">Démo 10</a> : {{ versions['prod']['demo/10'] }}
            </li>
        </ul>

    </div>

    <script src="{{ app.request.baseUrl }}/js/jquery-1.10.0.min.js"></script>
    <script src="{{ app.request.baseUrl }}/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
