<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supervision</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ app.request.baseUrl }}/favicon.ico">

    <link href="{{ app.request.baseUrl }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.baseUrl }}/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ app.request.baseUrl }}/css/style.css" rel="stylesheet">
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="">My C-Tool - Supervision</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="http://mail.google.com/a/myc-sense.com">Courriels</a></li>
                        <li><a href="http://docs.google.com/a/myc-sense.com">Documents</a></li>
                        <li><a href="http://redmine.myc-sense.com/projects">Redmine</a></li>
                        <li><a href="http://jenkins.myc-sense.com">Jenkins</a></li>
                        <li><a href="https://papertrailapp.com/dashboard">PaperTrail</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Applications archivées
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://carbondb.myc-sense.com/basecarbone2/">Base Carbone version 0.2</a></li>
                                <li><a href="http://carbondb.myc-sense.com/basecarbone/">Base Carbone version 0.3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <h3>
            Outils
        </h3>

        <div class="row-fluid start">

            <a href="http://mail.google.com/a/myc-sense.com" class="span2 btn btn-large">
                <i class="icon-envelope-alt icon-large"></i>
                E-Mail
            </a>

            <a href="http://redmine.myc-sense.com/projects" class="span2 btn btn-large">
                <i class="icon-comments-alt icon-large"></i>
                Redmine
            </a>

            <a href="https://github.com/myclabs" class="span2 btn btn-large">
                <i class="icon-github icon-large"></i>
                GitHub
            </a>

            <a href="https://circleci.com/" class="span2 btn btn-large">
                <i class="icon-spinner icon-large"></i>
                CircleCI
            </a>

            <a href="http://jenkins.myc-sense.com" class="span2 btn btn-large">
                <i class="icon-spinner icon-large"></i>
                Jenkins
            </a>

            <a href="https://papertrailapp.com/dashboard" class="span2 btn btn-large">
                <i class="icon-tasks"></i>
                PaperTrail
            </a>

        </div>

        <h3>
            Applications
        </h3>

        <h4>Dev</h4>

        <ul>
            <li>
                <a href="http://dev.myc-sense.com/inventory1/">Inventory 1</a> :
                <span class="label label-info">{{ versions['dev']['inventory1'] }}</span>
            </li>
            <li>
                <a href="http://dev.myc-sense.com/inventory2/">Inventory 2</a> :
                <span class="label label-info">{{ versions['dev']['inventory2'] }}</span>
            </li>
            <li>
                <a href="http://dev.myc-sense.com/inventory3/">Inventory 3</a> :
                <span class="label label-info">{{ versions['dev']['inventory3'] }}</span>
            </li>
            <li>
                <a href="http://dev.myc-sense.com/inventory4/">Inventory 4</a> :
                <span class="label label-info">{{ versions['dev']['inventory4'] }}</span>
            </li>
            <li>
                <a href="http://dev.myc-sense.com/units/">Units</a>
            </li>
            <li>
                <a href="http://dev.myc-sense.com/phpmyadmin/">phpMyAdmin</a>
            </li>
            <li>
                <a href="http://dev.myc-sense.com:15672/">RabbitMQ</a>
            </li>
            <li>
                <a href="http://dev.myc-sense.com/apc.php">APCu</a>
            </li>
        </ul>

        <h4>Test</h4>

        <ul>
            <li>
                <a href="http://test.myc-sense.com/inventory1/">Inventory 1</a> :
                <span class="label label-info">{{ versions['test']['inventory1'] }}</span>
            </li>
            <li>
                <a href="http://test.myc-sense.com/inventory2/">Inventory 2</a> :
                <span class="label label-info">{{ versions['test']['inventory2'] }}</span>
            </li>
            <li>
                <a href="http://test.myc-sense.com/inventory3/">Inventory 3</a> :
                <span class="label label-info">{{ versions['test']['inventory3'] }}</span>
            </li>
            <li>
                <a href="http://test.myc-sense.com/units/">Units</a>
            </li>
            <li>
                <a href="http://test.myc-sense.com/phpmyadmin/">phpMyAdmin</a>
            </li>
            <li>
                <a href="http://test.myc-sense.com:15672/">RabbitMQ</a>
            </li>
            <li>
                <a href="http://test.myc-sense.com/apc.php">APCu</a>
            </li>
        </ul>

        <h4>Prod</h4>

        <ul>
            <li>
                <a href="http://app.myc-sense.com/">Inventory</a> :
                <span class="label label-info">{{ inventoryVersion }}</span>
            </li>
            <li>
                <a href="http://prod.myc-sense.com/afd/">AFD</a> :
                <span class="label label-info">{{ versions['prod']['afd'] }}</span>
            </li>
            <li>
                <a href="http://prod.myc-sense.com/art225/">Article 225</a> :
                <span class="label label-info">{{ versions['prod']['art225'] }}</span>
            </li>
            <li>
                <a href="http://prod.myc-sense.com/art255/">Article 255</a> :
                <span class="label label-info">{{ versions['prod']['art255'] }}</span>
            </li>
            <li>
                <a href="http://prod.myc-sense.com/bollore/">Bolloré</a> :
                <span class="label label-info">{{ versions['prod']['bollore'] }}</span>
            </li>
            <li>
                <a href="http://prod.myc-sense.com/demo1/">Démo 1</a> :
                <span class="label label-info">{{ versions['prod']['demo1'] }}</span>
            </li>
            <li>
                <a href="http://prod.myc-sense.com/demo2/">Démo 2</a> :
                <span class="label label-info">{{ versions['prod']['demo2'] }}</span>
            </li>
            <li>
                <a href="http://prod.myc-sense.com/demo3/">Démo 3</a> :
                <span class="label label-info">{{ versions['prod']['demo3'] }}</span>
            </li>
            <li>
                <a href="http://prod.myc-sense.com/demo4/">Démo 4</a> :
                <span class="label label-info">{{ versions['prod']['demo4'] }}</span>
            </li>
            <li>
                <a href="http://prod.myc-sense.com/demo5/">Démo 5</a> :
                <span class="label label-info">{{ versions['prod']['demo5'] }}</span>
            </li>
            <li>
                <a href="http://units.myc-sense.com/">Units</a>
            </li>
            <li>
                <a href="http://prod.myc-sense.com/phpmyadmin/">phpMyAdmin</a>
            </li>
        </ul>

    </div>

    <script src="{{ app.request.baseUrl }}/js/jquery-1.10.0.min.js"></script>
    <script src="{{ app.request.baseUrl }}/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
